<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PetSuite">

    <listeners>
        <listener class-name="api.utilities.ExtentReportManager" />
    </listeners>

    <test verbose="2" preserve-order="true"  name="PetTests">
        <classes>
            <!--<class name="api.test.DDTests">
                <methods>
                    <include name="testPostuser"/>
                </methods>
            </class>-->
            <!--<class name="api.test.UserTests">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testGetUserById"/>
                    <include name="testUpdateUserById"/>
                    <include name="testDeleteUserById"/>
                </methods>
            </class>-->
            <class name="api.test.UserTests2" />
        </classes>
    </test>
</suite>